﻿@model MenuMakerPL.Models.LoginVM

@{ ViewBag.Title = "Login"; }

<br/>
<h3 class="text-danger">@ViewBag.Message</h3>
<h3 class="text-danger"></h3>

@using (Html.BeginForm("Login", "User"))
{
    <div class="form-group">
        @Html.LabelFor(model => model.Username)
        @Html.TextBoxFor(model => model.Username, new {id = "UsernameField"})
        @Html.ValidationMessageFor(model => model.Username)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Password)
        @Html.PasswordFor(model => model.Password)
        @Html.ValidationMessageFor(model => model.Password)
    </div>
    <button type="submit" class="btn">Login</button>
}