﻿@model MenuMakerPL.Models.RegisterVM

@{ ViewBag.Title = "Register User"; }

<h1>Register New User</h1>
<h3 class="text-danger">@ViewBag.Message</h3>

@using (Html.BeginForm("Register", "User"))
{
    <div class="form-group">
        @Html.LabelFor(model => model.Username)
        @Html.TextBoxFor(model => model.Username)
        @Html.ValidationMessageFor(model => model.Username)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Password)
        @Html.PasswordFor(model => model.Password)
        @Html.ValidationMessageFor(model => model.Password)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.PasswordConfirmation)
        @Html.PasswordFor(model => model.PasswordConfirmation)
        @Html.ValidationMessageFor(model => model.PasswordConfirmation)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Verification)
        @Html.TextBoxFor(model => model.Verification)
        @Html.ValidationMessageFor(model => model.Verification)
    </div>

    <button type="submit" class="btn">Submit</button>
}