﻿@model MenuMakerPL.Models.UserPO

@{ ViewBag.Title = "User Search"; }

<h2>User Search</h2>

<h3 class="text-danger">@ViewBag.Message</h3>

@using (Html.BeginForm("SearchUser", "User"))
{
    <div class="form-group">
        @Html.LabelFor(model => model.Username)
        @Html.TextBoxFor(model => model.Username, new {id = "UsernameField"})
        @Html.ValidationMessageFor(model => model.Username)
    </div>

    <button type="submit" class="btn">Submit</button>
}