@* This is used to bring in the layout and provide the error message logic *@
@{ ViewBag.Title = "ShoppingList"; }
<br/>
<h3 class="text-danger">@ViewBag.Message</h3>
<h3 class="text-danger"></h3>

@Html.Partial("ShoppingListPartial")