﻿@model MenuMakerPL.Models.UserPO

@{ ViewBag.Title = "UpdateDeleteUser"; }
<script src="~/Scripts/ConfirmDelete.js"></script>

<h3 class="text-danger">@ViewBag.Message</h3>

@using (Html.BeginForm("UpdateDeleteUser", "User"))
{
    <div class="form-group">
        @Html.LabelFor(model => model.ID)
        @Html.TextBoxFor(model => model.ID, new {@readonly = "readonly"})
        @Html.ValidationMessageFor(model => model.ID)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Username)
        @Html.TextBoxFor(model => model.Username)
        @Html.ValidationMessageFor(model => model.Username)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Password)
        @Html.TextBoxFor(model => model.Password)
        @Html.ValidationMessageFor(model => model.Password)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.RoleID)
        @Html.TextBoxFor(model => model.RoleID)
        @Html.ValidationMessageFor(model => model.RoleID)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.RoleName)
        @Html.TextBoxFor(model => model.RoleName, new {@readonly = "readonly"})
        @Html.ValidationMessageFor(model => model.RoleName)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.RoleDescription)
        <div class="row">
            @Html.TextAreaFor(model => model.RoleDescription, new {@readonly = "readonly"})</div>
        @Html.ValidationMessageFor(model => model.RoleDescription)
    </div>

    <button type="submit" class="btn btn-warning">Submit</button>
}
<br/>
@Html.ActionLink("Delete", "DeleteUser", "User", new {userID = Model.ID},
                 new {@class = "btn btn-danger", onclick = "return ConfirmDelete('" + Model.Username + "')"})