﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #add8e6;
}

.navbar {
    background-color: #2995B9;
}

.navbar-inverse .navbar-nav > li > a{
    color: #1F4A4C;
}

.navbar-inverse .navbar-brand {
    color: #1F4A4C;
}

#Username{
    color: #FFFFFF;
}

#UsernameField{
    color: #000000;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}

textarea {
    width: 550px;
    height: 250px;
    resize: none;
}