﻿@model MenuMakerPL.Models.RecipePO

<div class="container">
    <div class="form-group row">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>
    <div class="form-group row">
        @Html.LabelFor(model => model.Description)
        @Html.ValidationMessageFor(model => model.Description)
        <div class="row">
            @Html.TextAreaFor(model => model.Description)
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(model => model.Directions)
        @Html.ValidationMessageFor(model => model.Directions)
        <div class="row">
            @Html.TextAreaFor(model => model.Directions)
        </div>
    </div>
</div>

<button type="submit" class="btn">Submit</button>