﻿@model MenuMakerPL.Models.RecipePO

@{ ViewBag.Title = "Create Recipe"; }

<h2>Create Recipe</h2>
<h3 class="text-danger">@ViewBag.Message</h3>

@using (Html.BeginForm("CreateRecipe", "Recipe"))
{
    @Html.Partial("_CreateUpdateRecipe", Model)
}