﻿@model MenuMakerPL.Models.IngredientImplementationPO

@{ Layout = null; }

<h5 class="text-danger">@ViewBag.Message</h5>

<div class="container">
    <div class="row">
        <div class="form-group">
            @Html.EditorFor(model => model.ImplementationID)
            @Html.EditorFor(model => model.RecipeID)
            @Html.HiddenFor(model => model.Name)
        </div>
        <div class="form-group col-xs-3">
            @Html.LabelFor(model => model.Name)
            <div class="row">
                @Html.DropDownListFor(model => model.IngredientID, Model.IngredientDropList)
            </div>
        </div>
        <button class="btn col-xs-2" type="submit" name="button" value="Update">
            Update Ingredient
        </button>
        <div class="col-xs-1"></div>
        <button class="col-xs-2 btn btn-danger" type="submit" name="button" value="Delete"
                onclick="return ConfirmDelete('@Model.Name')">
            Delete
        </button>
    </div>
    <div class="row">
        <div class="form-group col-sm-2">
            @Html.LabelFor(model => model.Quantity)
            @Html.TextBoxFor(model => model.Quantity)
            @Html.ValidationMessageFor(model => model.Quantity)
        </div>
        <div class="form-group col-sm-2">
            @Html.LabelFor(model => model.Unit)
            @Html.DisplayFor(model => model.Unit)
            @Html.ValidationMessageFor(model => model.Unit)
        </div>
        <div class="form-group col-sm-2">
            @Html.LabelFor(model => model.Price)
            @Html.DisplayFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>
        <div class="form-group col-sm-2">
            @Html.LabelFor(model => model.Cost)
            @Html.DisplayFor(model => model.Cost)
            @Html.ValidationMessageFor(model => model.Cost)
        </div>
    </div>
</div>