﻿@model int

@{ Layout = null; }
<script src="~/Scripts/ConfirmDelete.js"></script>
<h3 class="text-danger">@ViewBag.Message</h3>

@using (Ajax.BeginForm("EditImplementationPartial", //This is the method to post to
                       new {implementationID = Model},
                       new AjaxOptions
                       {
                           InsertionMode = InsertionMode.Replace,
                           UpdateTargetId = Model.ToString()
                       },
                       new {id = Model.ToString()}))
{
    @Html.Action("EditImplementationPartial", new {implementationID = Model}) //This is the get method
}