﻿@model MenuMakerPL.Models.RecipePO

@{ Layout = null; }
<h3 class="text-danger">@ViewBag.Message</h3>

<div class="form-group row">
    @Html.EditorFor(model => model.ID)
</div>
@Html.Partial("_CreateUpdateRecipe")