﻿@model MenuMakerPL.Models.FullRecipeVM

@{
    ViewBag.Title = "Edit Recipe";
}
<script src="~/Scripts/jquery-3.0.0.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<h2>Edit Recipe</h2>
<h3 class="text-danger">@ViewBag.Message</h3>

@using (Ajax.BeginForm("EditRecipePartial",
                       new {recipeID = Model.Recipe.ID},
                       new AjaxOptions
                       {
                           InsertionMode = InsertionMode.Replace,
                           UpdateTargetId = "Recipe"
                       }))
{
    <div id="Recipe">
        @Html.Action("EditRecipePartial", new {recipeID = Model.Recipe.ID})
    </div>
}

<br/>
<div id="Ingredients">
    @foreach (var ingredient in Model.Ingredients)
    {
        <div>
            @Html.Action("EditImplementationPartialFactory", new {implementationID = ingredient.ImplementationID})
        </div>
    }
</div>
<br/>
@Ajax.ActionLink("Add ingredient", "CreateImplementationPartial", new {recipeID = Model.Recipe.ID},
                 new AjaxOptions {UpdateTargetId = "Ingredients", InsertionMode = InsertionMode.InsertAfter},
                 new {@class = "btn btn-info"})
<br/>
<br/>
<br/>
@Html.ActionLink("Done", "ViewRecipe", new {recipeID = Model.Recipe.ID}, new {@class = "btn btn-info"})