﻿@using MenuMakerPL.Models
@model List<MenuMakerPL.Models.RecipePO>

@{ ViewBag.Title = "Recipes"; }
<script src="~/Scripts/jquery-3.0.0.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<h2>Recipes</h2>
<h3 class="text-danger">@ViewBag.Message</h3>

<div class="container">
    <div class="row">
        <div class="col-sm-2">

            @if (((UserPO)Session["User"])?.RoleName == "Admin" ||
                 ((UserPO)Session["User"])?.RoleName == "PowerUser")
            {
                @Html.ActionLink("Create new Recipe", "CreateRecipe", "Recipe", null, new {@class = "btn btn-info"})
            }
            @*Inadequate role.*@
        </div>
    </div>
    @foreach (var recipe in Model)
    {
        <div class="row">
            <div class="col-sm-2">
                @Ajax.ActionLink("Add to Shopping List", "AddRecipeToShoppingList",
                                 "User", new {recipeID = recipe.ID}, null)
            </div>
            <div class="col-sm-2">
                @Html.DisplayFor(model => recipe.Name)
            </div>
            <div class="col-sm-4">
                @Html.DisplayFor(model => recipe.Description)
            </div>
            <div class="col-sm-2">
                @Html.ActionLink("View Details", "ViewRecipe", "Recipe", new {recipeID = recipe.ID}, null)
            </div>
        </div>
    }
</div>