﻿@using MenuMakerPL.Models
@model MenuMakerPL.Models.FullRecipeVM

@{ ViewBag.Title = "Recipe Details"; }
<script src="~/Scripts/ConfirmDelete.js"></script>

<h2>@Html.DisplayFor(model => Model.Recipe.Name)</h2>
<h3 class="text-danger">@ViewBag.Message</h3>

<div class="container">
    <h3>Description</h3>
    <div class="row">
        <div class="col-sm-8">
            @Html.TextAreaFor(model => Model.Recipe.Description, new {@readonly = true})
        </div>
    </div>
    <h3>Ingredients</h3>
    @foreach (var ingredient in Model.Ingredients)
    {
        <div class="row">
            <div class="col-sm-2 col-xs-2">
                @Html.DisplayFor(model => ingredient.Quantity) @Html.DisplayFor(model => ingredient.Unit)
            </div>
            <div class="col-sm-2 col-xs-6">
                @Html.DisplayFor(model => ingredient.Name)
            </div>
            <div class="col-sm-1 col-xs-2">
                @Html.DisplayFor(model => ingredient.Cost)
            </div>
        </div>
    }
    <h4>Total Cost:</h4>
    <div class="row">
        <div class="col-sm-6">
            @Html.DisplayFor(model => model.Cost)
        </div>
    </div>
    <h3>Directions</h3>
    <div class="row">
        <div class="col-sm-8">
            @Html.TextAreaFor(model => Model.Recipe.Directions, new {@readonly = true})
        </div>
    </div>
    @if (((UserPO)Session["User"])?.RoleName == "Admin" ||
         ((UserPO)Session["User"])?.RoleName == "PowerUser")
    {
        <div class="row">
            <div class="col-xs-2">
                @Html.ActionLink("Update", "UpdateRecipe", "Recipe", new {recipeID = Model.Recipe.ID},
                                 new {@class = "btn btn-warning"})
            </div>
            <div class="col-xs-4"></div>
            <div class="col-xs-2">
                @Html.ActionLink("Delete", "DeleteRecipe", "Recipe", new {recipeID = Model.Recipe.ID},
                                 new {@class = "btn btn-danger", onclick = "return ConfirmDelete('" + Model.Recipe.Name + "')"})
            </div>
        </div>
    }
    @*Inadequate role.*@
</div>