﻿@model MenuMakerPL.Models.IngredientPO
<div class="form-group">
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    @Html.ValidationMessageFor(model => model.Name)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Unit)
    @Html.TextBoxFor(model => model.Unit)
    @Html.ValidationMessageFor(model => model.Unit)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Price)
    @Html.TextBoxFor(model => model.Price)
    @Html.ValidationMessageFor(model => model.Price)
</div>
<button type="submit" class="btn">Submit</button>