﻿@model MenuMakerPL.Models.IngredientPO

<div class="col-xs-3">@Html.DisplayFor(model => model.Name)</div>
<div class="col-xs-3">@Html.DisplayFor(model => model.Unit)</div>
<div class="col-xs-3">@Html.DisplayFor(model => model.Price)</div>