﻿@model MenuMakerPL.Models.IngredientPO

@{ ViewBag.Title = "Create Ingredient"; }

<h1>Create Ingredient</h1>
<h3 class="text-danger">@ViewBag.Message</h3>

@using (Html.BeginForm("CreateIngredient", "Ingredients"))
{
    @Html.Partial("_CreateUpdateIngredient")
}