﻿@model MenuMakerPL.Models.IngredientPO

@{ ViewBag.Title = "Edit Ingredient"; }

<h1>Edit Ingredient</h1>

@using (Html.BeginForm("UpdateIngredient", "Ingredients"))
{
    <div class="form-group">
        @Html.EditorFor(model => model.IngredientID)
    </div>
    @Html.Partial("_CreateUpdateIngredient", Model)
}