﻿@using MenuMakerPL.Models
@model List<MenuMakerPL.Models.IngredientPO>

@{ ViewBag.Title = "Ingredients"; }

<h2>Ingredients</h2>
<h3 class="text-danger">@ViewBag.Message</h3>
<div class="container" summary="List of all ingredients with unit type.">
    <div class="row">
        @if (((UserPO)Session["User"])?.RoleName == "Admin" ||
             ((UserPO)Session["User"])?.RoleName == "PowerUser")
        {
            @Html.ActionLink("Create new Ingredient", "CreateIngredient", "Ingredients", null,
                             new {@class = "btn btn-info"})
        }
        @*Inadequate role.*@
    </div>
    <div class="row">
        <div class="col-xs-3">@Html.LabelFor(model => model[0].Name)</div>
        <div class="col-xs-3">@Html.LabelFor(model => model[0].Unit)</div>
        <div class="col-xs-3">@Html.LabelFor(model => model[0].Price)</div>
    </div>

    @foreach (var ingredient in Model)
    {
        <div class="row">
            @Html.Partial("_SingleIngredient", ingredient)
            @Html.ActionLink("View Details", "ViewSingleIngredient", "Ingredients",
                             new {ingredientID = ingredient.IngredientID}, null)
        </div>
    }
</div>