﻿@using MenuMakerPL.Models
@model MenuMakerPL.Models.IngredientPO
<script src="~/Scripts/ConfirmDelete.js"></script>

@{ ViewBag.Title = "Create Ingredient"; }
<h3 class="text-danger">@ViewBag.Message</h3>

<div class="container">
    <div class="row">
        <div class="col-xs-3">@Html.LabelFor(model => model.Name)</div>
        <div class="col-xs-3">@Html.LabelFor(model => model.Unit)</div>
        <div class="col-xs-3">@Html.LabelFor(model => model.Price)</div>
    </div>
    <div class="row">
        @Html.Partial("_SingleIngredient", Model)
    </div>
    <div class="row">
        @if (((UserPO)Session["User"])?.RoleName == "Admin" ||
             ((UserPO)Session["User"])?.RoleName == "PowerUser")
        {
            @Html.ActionLink("Edit", "UpdateIngredient", "Ingredients", new {ingredientID = Model.IngredientID},
                             new {@class = "btn btn-warning col-xs-2"})
            <div class="col-xs-4"></div>
            @Html.ActionLink("Delete", "DeleteIngredient", "Ingredients", new {ingredientID = Model.IngredientID},
                             new {@class = "btn btn-danger col-xs-2", onclick = "return ConfirmDelete('" + Model.Name + "')"})
        }
        @*Inadequate role.*@
    </div>
</div>