﻿@using MenuMakerPL.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Menu Maker", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                @if (Session["User"] != null)
                {
                    <li>@Html.ActionLink("View Shopping List", "ShoppingList", "User")</li>
                    <li>@Html.ActionLink("Ingredients", "ViewAllIngredients", "Ingredients")</li>
                    <li>@Html.ActionLink("Recipes", "ViewAllRecipes", "Recipe")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                }
                @*Inadequate role.*@
            </ul>
            <ul class="nav navbar-nav navbar-right">

                @if (null == Session["User"])
                {
                    <li >@Html.ActionLink("Login", "Login", "User")</li>
                    <li>@Html.ActionLink("Register", "Register", "User")</li>
                }
                else
                {
                    <li>@Html.ActionLink("Logout", "Logout", "User")</li>
                    <li>@Html.ActionLink(((UserPO)Session["User"]).Username, "", null, new {id = "Username"})</li>
                }
            </ul>
        </div>
    </div>
</div>
<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - MenuMaker</p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", false)
</body>
</html>